<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Biglov.ru | Правила сайта {% endblock title %}</title>
</head>
{% block content %}
<body>
    <div class="rules__main_container">
        <div class="rules__regulations_left_menu_container">

        </div>
        <div class="rules__regulations_main_text_container">
            <h3 class="main_rules__h3_text">Правила оказания услуг клиентам</h3>
            <div>Последнее обновление: 19 декабря 2022 г.</div>
            <ul>
                {% for line in lines %}
                    <li style="list-style: upper-latin;">{{ line }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
{% endblock content %}

</html>