<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Biglov.ru | Правила сайта {% endblock title %}</title>
</head>
{% block content %}
<body>
    <div>
        <h3 class="main_rules__h3_text">Правила оказания услуг клиентам</h3>
        <div class="rules__main_container">
            {% for rule in rules_list %}
                <ul>
                    <li class="rules__sub_category_text">{{ rule.sub_category }}</li>
                    <div>{{ rule.text | safe | linebreaks }}</div>
                </ul>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock content %}

</html>