<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load humanize %}
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biglov.ru | Аренда жилья | Снять жилье | Снять квартиру{% endblock title %}</title>
    <link type="text/css" rel="reset" href="../../static/css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/stylesheet.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<body>
{% block content %}
<aside class="realty-list-container">
    <menu class="realty-type-filters" id="filters_menu">

        <div class="lt_realty_list__open_filters">
            <a data-bs-toggle="realty-type-filters" data-bs-target="#filters_menu"><img class="base__filters_img_close" id="filters_menu_button_close" src="../../static/img/icons/free-icon-options-8111047.png"></a>
        </div>

        <form class="block-type" action="{% url 'app_ltrent:lt_realty_list' %}" method="post">{% csrf_token %}

            <menu class="search-realty-list-block-type">
                <div class="container2">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-8" id="search-form-input">
                            <div class="search2">
                                <i class="fa fa-search"></i>
                                <input name="lt" type="text" value="{{ searched_city }}" class="form-control search-date" id="search-form" placeholder="Введите название города" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Сортировка</p>
                <div class="main-filter">{{ main_filter }}</div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Диапазон цен, ₽</p>
                <div class="price-filter">{{ price_filter.as_p }}</div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Общая площадь, м²</p>
                <div class="price-filter">{{ area_filter.as_p }}</div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Этаж</p>
                <div class="price-filter">{{ floor_filter.as_p }}</div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Правила</p>
                <div class="form-checkbox">
                    {{ rules_checkbox.rule_option.0 }}
                    {{ rules_checkbox.rule_option.1 }}
                    {{ rules_checkbox.rule_option.2 }}
                </div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Санузел</p>
                <div class="form-checkbox">
                    {{ bathroom_checkbox.as_p }}
                </div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Мебель</p>
                <div class="form-checkbox">
                    {% for furniture in furniture_checkbox %}
                        {{ furniture.4 }}
                        {{ furniture.3 }}
                        {{ furniture.0 }}
                        {{ furniture.2 }}
                        {{ furniture.6 }}
                        {{ furniture.1 }}
                        {{ furniture.5 }}
                        {{ furniture.9 }}
                    {% endfor %}
                </div>
            </menu>

            <menu class="block-type">
                <p class="realty-menu-text">Техника</p>
                <div class="form-checkbox">
                    {% for technique in technique_checkbox %}
                        {{ technique.9 }}
                        {{ technique.3 }}
                        {{ technique.2 }}
                        {{ technique.1 }}
                        {{ technique.11 }}
                        {{ technique.0 }}
                        {{ technique.6 }}
                        {{ technique.10 }}
                    {% endfor %}
                </div>
            </menu>
            <div style="display: flex; flex-direction: row; width: 70%; align-items: center;">
                <input class="filter-input" type="submit" name="lt_realty_list__search" value="Найти">
            </div>
        </form>
    </menu>

    <div class="lt_realty_list__open_filters">
        <a data-bs-toggle="realty-type-filters" data-bs-target="#filters_menu"><img class="base__filters_img" id="filters_menu_button" src="../../static/img/icons/free-icon-options-8111047.png"></a>
    </div>

    <script>
        let show_filter = document.getElementById('filters_menu');
        let open_btn  = document.getElementById('filters_menu_button');
        let close_btn = document.getElementById('filters_menu_button_close');

        open_btn.addEventListener('click',()=>{
            show_filter.style.display = 'inline-block';
            open_btn.style.display = 'none';
            close_btn.style.display = 'inline-block';
        })

        close_btn.addEventListener('click', ()=>{
            show_filter.style.display = 'none';
            close_btn.style.display = 'none';
            open_btn.style.display = 'inline-block';
        })
    </script>

    <div class="realty_list__realty_container">
        {% if adv_lt_realty_list %}
            <div class="relaty_list__adv_list">
                <ul class="realty-list">
                    {% for adv_realty in adv_lt_realty_list|slice:4 %}
                        <div class="realty-card adv">
                            <img class="realty_list__adv_top_stamp" src="../../static/img/icons/free-icon-top-753359.png">
                            <div>
                                {% if adv_realty.photos.all.0.photo %}
                                    <a href='{% url "app_ltrent:lt_realty_detail" adv_realty.id %}'><img src="../../media/{{ adv_realty.photos.all.0.photo }}" class="d-block w-100" alt="..."></a>
                                {% else %}
                                    <a href='{% url "app_ltrent:lt_realty_detail" adv_realty.id %}'><img src="../../media/empty_realty_picture.png" alt="Абложка"></a>
                                {% endif %}
                            </div>
                            <div class="short-describe-text">
                                <div>
                                    <div class="lt_realty_list__main_text"><a href='{% url "app_ltrent:lt_realty_detail" adv_realty.id %}'>{{ adv_realty.get_realty_type_display }}, {{ adv_realty.realty_area }}м², {{ adv_realty.floor }} эт.</a></div>
                                    <p class="realty-list-price">г. {{ adv_realty.realty_price|intcomma }} ₽ в месяц</p>
                                </div>
                                <p class="short-description-text">{{ adv_realty.realty_city }}</p>
                                <p class="short-description-text">ул. {{ adv_realty.realty_address }}, {{ adv_realty.house_number }}, {{ adv_realty.floor }} этаж</p>
                                <p class="short-description-text">Обновлено {{ adv_realty.updated_at }}</p>
                                <div class="realty_list__views_container">
                                    <form method="get" id="is_favorite_adv" class="realty_list__favorite_container">
                                        {% if adv_realty.is_favorites %}
                                            <img id="dismissAdvFavorite{{ adv_realty.id }}" style="width: 22%;" onclick="{{ adv_realty.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}">
                                        {% else %}
                                            <img id="addAdvFavorite{{ adv_realty.id }}" style="width: 22%;" onclick="{{ adv_realty.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924.png' %}">
                                        {% endif %}
                                    </form>

                                    <script>
                                        $(document).ready(
                                          $('#addAdvFavorite' + {{ adv_realty.id }}).click(function(e){
                                            e.preventDefault();
                                            var serializedData = $(this).serialize();
                                            $.ajax({
                                              type:"GET",
                                              url: "../../rent/lt_favorite",
                                              data: {"realty_id": {{adv_realty.id}}},
                                              success: function(data){
                                                  $("#addFavorite").html(data);
                                                  if (data == 'to') {
                                                      $("#addFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                      $("#addAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}")
                                                  }
                                                  else {
                                                      $("#addFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                      $("#addAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                  }
                                              },
                                            });
                                          })
                                        );
                                    </script>

                                    <script>
                                        $(document).ready(
                                          $('#dismissAdvFavorite' + {{ adv_realty.id }}).click(function(e){
                                            e.preventDefault();
                                            var serializedData = $(this).serialize();
                                            $.ajax({
                                              type:"GET",
                                              url: "../../rent/lt_favorite",
                                              data: {"realty_id": {{adv_realty.id}}},
                                              success: function(data){
                                                  $("#dismissFavorite").html(data);
                                                  if (data == 'from') {
                                                      $("#dismissFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                      $("#dismissAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                  }
                                                  else {
                                                      $("#dismissFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                      $("#dismissAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                  }
                                              },
                                            });
                                          })
                                        );
                                    </script>

                                    <div class="realty_list__total_view_container">
                                        <img class="realty_list__total_views" src="../../static/img/icons/free-icon-eye-scanner-7790069.png">
                                        <div>{{ adv_realty.total_views }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <ul class="realty-list">
            {% if lt_realty_list %}
                {% for obj in lt_realty_list %}
                    <div class="realty-card">
                        <div>
                          {% if obj.photos.all.0.photo %}
                            <a href='{% url "app_ltrent:lt_realty_detail" obj.id %}'><img src="../../media/{{ obj.photos.all.0.photo }}" class="d-block w-100" alt="..."></a>
                          {% else %}
                            <a href='{% url "app_ltrent:lt_realty_detail" obj.id %}'><img src="../../media/empty_realty_picture.png" alt="Абложка"></a>
                          {% endif %}
                        </div>
                        <div class="short-describe-text">
                            <div>
                                <div class="lt_realty_list__main_text"><a href='{% url "app_ltrent:lt_realty_detail" obj.id %}'>{{ obj.get_realty_type_display }}, {{ obj.realty_area }}м², {{ obj.floor }} эт.</a></div>
                                <p class="realty-list-price">{{ obj.realty_price|intcomma }} ₽ в месяц</p>
                            </div>
                            <p class="short-description-text">г. {{ obj.realty_city }}</p>
                            <p class="short-description-text">ул. {{ obj.realty_address }}, {{ obj.house_number }}, {{ obj.floor }} этаж</p>
                            <p class="short-description-text">Обновлено {{ obj.updated_at }}</p>
                            <div class="realty_list__views_container">
                                <form method="get" id="addFavoriteForm{{ obj.id }}" data-url_root="{% url 'app_ltrent:lt_realty_list' %}" class="realty_list__favorite_container">
                                    {% for object in favorite_list %}
                                        {% if obj in object.long_term_objects.all %}
                                            <img id="dismissFavorite{{ obj.id }}" style="width: 22%;" onclick="{{ obj.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}">
                                        {% else %}
                                            <img id="addFavorite{{ obj.id }}" style="width: 22%;" onclick="{{ obj.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924.png' %}">
                                        {% endif %}
                                    {% endfor %}
                                </form>
                                <div class="realty_list__total_view_container">
                                    <img class="realty_list__total_views" src="../../static/img/icons/free-icon-eye-scanner-7790069.png">
                                    <div>{{ obj.total_views }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(document).ready(
                          $('#addFavorite' + {{ obj.id }}).click(function(e){
                            e.preventDefault();
                            var serializedData = $(this).serialize();
                            $.ajax({
                              type:"GET",
                              url: "../../rent/lt_favorite",
                              data: {"realty_id": {{obj.id}}},
                              success: function(data){
                                  $("#addFavorite").html(data);
                                  if (data == 'to') {
                                      $("#addFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                      $("#addAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}")
                                  }
                                  else {
                                      $("#addFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                      $("#addAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                  }
                              },
                            });
                          })
                        );
                    </script>

                    <script>
                        $(document).ready(
                          $('#dismissFavorite' + {{ obj.id }}).click(function(e){
                            e.preventDefault();
                            var serializedData = $(this).serialize();
                            $.ajax({
                              type:"GET",
                              url: "../../rent/lt_favorite",
                              data: {"realty_id": {{obj.id}}},
                              success: function(data){
                                  console.log(data + '2');
                                  $("#dismissFavorite").html(data);
                                  if (data == 'from') {
                                      $("#dismissFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                      $("#dismissAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                  }
                                  else {
                                      $("#dismissFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                      $("#dismissAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                  }
                              },
                            });
                          })
                        );
                    </script>

                {% endfor %}
            {% else %}
                <div class="lt_realty_list__empty_queryset">
                    <img class="lt_realty_list__empty_queryset_img" src="{% static 'img/icons/free-icon-guy-7836451-blonde.png' %}">
                    <div class="lt_realty_list__empty_queryset_text">По Вашему запросу ничего не найдено</div>
                </div>
            {% endif %}
        </ul>
    </div>
</aside>

{% endblock content %}
</body>
{% block footer %}
<footer class="base__footer_not_fixed">
    <div class="base__footer_container">
        <a class="base__logo_footer" href="/"><img class="logo-main_footer" src="../../static/img/logo.png" alt="Логотип"></a>
    </div>
    <div class="base__footer">
        <div class="base__copyright">
            <a href="{% url 'app_rules:our_values' %}">Наши ценности</a>
        </div>
        <div class="base__footer_info">
            <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">Контакты</a>
        </div>
    </div>

    <!-- Модальное окно управления промо-акциями -->
    <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel5">Контакты</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
              <div>Телефон для справок: +7 (938) 416-66-72</div>
              <div>Эл. почта: biglov.info@yandex.ru</div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
</footer>
{% endblock footer %}
</html>