<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load humanize %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ lt_realty.get_realty_type_display }}, {{ lt_realty.realty_area }} м², аренда жилья в г. {{ lt_realty.realty_city }}{%endblock title %}</title>
    <link type="text/css" rel="reset" href="../static/css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<body>
{% block content %}
    <ul class="realty_list">
        <div class="realty_detail__top_text">
            <p class="realty_name">{{ lt_realty.get_realty_type_display }} {{ lt_realty.realty_name }}, {{ lt_realty.realty_area }} м², {{ lt_realty.floor }}/{{ lt_realty.floor_count }} эт.</b>{{ lt_realty.region_center }}</p>
            <p class="realty_address">{{ lt_realty.realty_country }}, {{ lt_realty.realty_region }}, {{ lt_realty.realty_city }}, {{ lt_realty.realty_address }}, {{ lt_realty.house_number }}{% if lt_realty.house_korpus %}, {{ lt_realty.house_korpus }} {% endif %}</p>
        </div>
        <aside class="realty-detail-img-container">
            <div class="realty_detail__photo_and_menu_container">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../media/{{ detail_photos.0.photo }}" class="d-block w-100" alt="...">
                    </div>
                      {% for photo in detail_photos %}
                        <div class="carousel-item">
                          <img src="../../media/{{ photo.photo }}" class="d-block w-100" alt="...">
                        </div>
                      {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                  </button>
                </div>

                <div class="offcanvas offcanvas-start detail__show_comments" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                  <div class="offcanvas-header" id="detail__offcanvas_comments_header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Отзывы о "{{ lt_realty }}"</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                  </div>
                  <div class="offcanvas-body">
                    <form class="detail__comments_container" method="post">{% csrf_token %}
                        {% for comment in comments|slice:8 %}
                            <div class="detail__comments_text_container">
                                <b class="detail__comment_username">{{ comment }}:</b>
                                <p class="detail__comments_text_space">{{ comment.comment_text }}</p>
                            </div>
                            {% if request.user.is_company %}
                                <p class="detail__publish_at"><b style="color: black;">Ответ компании</b> {{ comment.publish_at }}</p>
                            {% else %}
                                <p class="detail__publish_at">{{ comment.publish_at }}</p>
                            {% endif %}
                        {% endfor %}
                        <div class="detail__comment_text_and_user">
                            {{ comment_form.realty.as_hidden }}
                            {{ comment_form.user.as_hidden }}
                            {{ comment_form.comment_text }}
                            <button type="submit" class="btn btn-outline-light" id="detail__button_send_message" name="detail__send_feedback"></button>
                        </div>
                    </form>
                  </div>
                </div>

                <ul class="realty_detail__list_info">
                    <h5 class="options-list-title" id="staticBackdropLabel3">Основные параметры:</h5>
                    <p class="realty-bed">Количество комнат: <b>{{ lt_realty.rooms_count }}</b></p>
                    <p class="realty-bed">Санузел: <b>{{ lt_realty.get_bathroom_display }}</b></p>

                    <ul class="main_options_info">
                        {% if adv_realty.children %}
                            <li style="color:green;" class="main_option_elem"><img class="edit_lt_realty__main_option_img" src="../../static/img/icons/free-icon-children-3885025.png">Можно с детьми</li>
                        {% elif not adv_realty.children %}
                            <li style="color:red;" class="main_option_elem"><img class="edit_lt_realty__main_option_img" src="../../static/img/icons/free-icon-children-3885025.png">Без детей</li>
                        {% endif %}

                        {% if adv_realty.animals %}
                            <li style="color:green;" class="main_option_elem"><img class="edit_lt_realty__main_option_img" src="../../static/img/icons/free-icon-pet-489399.png">Можно с животными</li>
                        {% elif not adv_realty.animals %}
                            <li style="color:green;" class="main_option_elem"><img class="edit_lt_realty__main_option_img" src="../../static/img/icons/free-icon-pet-489399.png">Без животных</li>
                        {% endif %}

                        {% if adv_realty.smoke %}
                            <li style="color:green;" class="main_option_elem"><img class="edit_lt_realty__main_option_img" src="../../static/img/icons/free-icon-smoking-area-2707222.png">Можно курить</li>
                        {% elif not adv_realty.smoke %}
                            <li style="color:red;" class="main_option_elem"><img class="edit_lt_realty__main_option_img" src="../../static/img/icons/free-icon-smoking-761498.png">Нельзя курить</li>
                        {% endif %}
                    </ul>

                    <div class="realty-options-list-container">
                        <h5 class="options-list-title">Мебель:</h5>
                        <ul class="realty-options-list">
                            {% for furniture in lt_realty.furniture.all|slice:6 %}
                                <li class="edit_lt_realty__option-list"><img class="lt_realty_detail__options_icon" src="../../static/img/icons/{{ furniture.icon_url }}">{{ furniture }}</li>
                            {% endfor %}
                        </ul>
                        <a id="detail__show_description2" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Посмотреть все</a>
                    </div>

                    <div class="realty-options-list-container">
                        <h5 class="options-list-title">Электроника:</h5>
                        <ul class="realty-options-list">
                            {% for technique in lt_realty.technique.all|slice:6 %}
                                <li class="edit_lt_realty__option-list"><img class="lt_realty_detail__options_icon" src="../../static/img/icons/{{ technique.icon_url }}">{{ technique }}</li>
                            {% endfor %}
                        </ul>
                        <a id="detail__show_description3" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Посмотреть все</a>
                    </div>

                    <div>
                        <h5 class="options-list-title">Описание:</h5>
                        <p style="font-size: 0.9em; text-align: justify;">{{ lt_realty.full_description | safe | slice:400 }}...</p>
                        <a id="detail__show_description" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Читать полностью</a>
                    </div>
                    {% if adv_lt_realty %}
                        <div class="realty_detail__adv_another_realty_of-company" style="margin-top: 10px;">
                            <h5 class="options-list-title">Другие предложения компании:</h5>
                            <ul class="realty_detail__list_of_realty">
                                {% for another_lt_realty in adv_lt_realty %}
                                    <div>
                                        <img class="company__list_of_control_realty" src="../../media/{{ another_lt_realty.photos.all.0.photo }}">
                                        <a class="link-to-realty-from-profile" href="{% url 'app_ltrent:lt_realty_detail' pk=another_lt_realty.id %}"><li class="company__realty_object">{{ another_lt_realty }}</li></a>
                                    </div>
                                {% endfor %}
                            </ul>
                    {% endif %}

                    {% if adv_hd_realty %}
                        <div class="realty_detail__adv_another_realty_of-company" style="margin-top: 10px;">
                            <h5 class="options-list-title">Компания сдаёт посуточно:</h5>
                            <ul class="realty_detail__list_of_realty">
                                {% for another_hd_realty in adv_hd_realty %}
                                    <div>
                                        <img class="company__list_of_control_realty" src="../../media/{{ another_hd_realty.photos.all.0.photo }}">
                                        <a class="link-to-realty-from-profile" href="{% url 'app_premises:realty_detail' slug=another_hd_realty.slug %}"><li class="company__realty_object">{{ another_hd_realty }}</li></a>
                                    </div>
                                {% endfor %}
                            </ul>
                    {% endif %}

                    </div>
                </ul>

            </div>
            <div class="realty_detail__sticky_menu_container">
                <ul class="realty-list-info">
                    <p class="realty_price">{{ lt_realty.realty_price|intcomma }} ₽ в месяц</p>
                    {% if lt_realty.deposit %}
                        <p class="lt_realty_detail__deposit"> Залог {{ deposit_sum }} ₽</p>
                    {% else %}
                        <p class="lt_realty_detail__deposit">Без депозита</p>
                    {% endif %}
                    <div class="realty_detail__edit_link">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_company %}
                                {% if current_realty.company == current_company %}
                                    <a id="detail__show_edit_form" href="{% url 'app_ltrent:lt_realty_edit' pk=lt_realty.id %}">
                                        <img class="edit__realty" src="../static/img/icons/free-icon-settings-2735296.png" alt="Редактировать">
                                    </a>
                                    <label class="detail__menu_icon_label" for="detail__show_edit_form">Редактировать</label>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </ul>
                <div class="lt_realty_detail__phone_and_email_container">
                    <h5 style="margin: 0 10px; font-weight: bold;">Контактные данные:</h5>
                    <div class="realty_detail__phone_and_email">Телефон: {{ lt_realty.company.company_phone }}</div>
                    <div class="realty_detail__phone_and_email">Эл. почта: {{ lt_realty.company.company_email }}</div>
                </div>

                <div class="lt_realty_detail__account_data_container">
                    <h5 style="margin: 0 10px; font-weight: bold;">Информация об арендодателе:</h5>
                    <div class="realty_detail__name_and_created_at">{{ current_account.first_name }} (Арендодатель)</div>
                    <div class="realty_detail__name_and_created_at"> На Biglov.ru с {{ current_account.created_at }}</div>
                </div>

            </div>
        </aside>
    </ul>

    <!-- Модальное окно подробного описания -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Описание:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="detail__bottom_container_comment_and_info">
                <div class="detail__description_container">
                    <p>
                        <p style="font-size: 0.9em; text-align: justify;">{{ lt_realty.full_description | safe | linebreaks }}</p>
                    </p>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Модальное окно всех опций -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Все доступные опции</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="detail__bottom_container_comment_and_info">
                <div class="detail__description_container">
                    <p>
                        <h6 style="color: black; text-align: left;">Мебль:</h6>
                        <ul>
                            {% for furniture in lt_realty.furniture.all %}
                                <li>{{ furniture }}</li>
                            {% endfor %}
                        </ul>
                        <h6 style="color: black; text-align: left;">Техника:</h6>
                        <ul>
                            {% for technique in lt_realty.technique.all %}
                                <li>{{ technique }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })
    </script>

{% endblock content %}
</body>
{% block footer %}
<footer class="base__footer_not_fixed">
    <div class="base__footer_container">
        <a class="base__logo_footer" href="/"><img class="logo-main" src="../../static/img/logo.png" alt="Логотип"></a>
    </div>
    <div class="base__footer">
        <div class="base__copyright">
            <a href="{% url 'app_rules:our_values' %}">Наши ценности</a>
        </div>
        <div class="base__footer_info">
            <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">Контакты</a>
        </div>
    </div>

    <!-- Модальное окно управления промо-акциями -->
    <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel5">Контакты</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
              <div>Телефон для справок: +7 (938) 416-66-72</div>
              <div>Эл. почта: biglov.info@yandex.ru</div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
</footer>
{% endblock footer %}
</html>