{% extends "base.html" %}
<head>
    <title>{% block title %}Biglov.ru | Регистрация объекта{%endblock title %}</title>
</head>
<body>
{% block content %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_company %}
            <div class="register_camp__main_container" id="camp_step1_container" style="display: flex; flex-direction: row; justify-content: center;">
              <form class="create-realty-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <h2 class="register_camp__h2_text">Где находится Ваш объект?</h2>
                    <div style="text-align: left; margin-bottom: 15px;">
                        Мы можем потребовать подтверждение расположения объекта. В связи с эти убедитесь, что адрес
                        указан верно. Изменить его возможно, но при изменении адреса мы гарантированно запросим
                        подтверждение расположения объекта.
                    </div>
                        <div class="create_camp__param_container">
                            <div style="text-align: left; color: black; font-weight: 600;">Страна/территория:</div>
                            {{ camp_object_form2.realty_country }}
                        </div>
                        <div class="create_camp__param_container">
                            <div style="text-align: left; color: black; font-weight: 600;">Город:</div>
                            {{ camp_object_form2.realty_city }}
                        </div>
                        <div class="create_camp__param_container">
                            <div style="text-align: left; color: black; font-weight: 600;">Индекс:</div>
                            {{ camp_object_form2.ind }}
                        </div>
                        <div class="create_camp__param_container2">
                            <div style="text-align: left; color: black; font-weight: 600;">Адрес:</div>
                            {{ camp_object_form2.realty_address }}
                        </div>
                    <div class="valid-feedback">
                      Все хорошо!
                    </div>
                  <button type="submit" name="register_camp__next2" value="{{ current_object.id }}" class="btn btn-success register_camp__next_button" id="camp_step1">Дальше</button>
              </form>
              <div class="register_camp__info_block_container">
                  <div class="register_camp__info_block">
                      <h5>Что должно входить в адрес?</h5>
                      <ul>
                          <li>Укажите улицу и номер дома (указывайте адрес так, чтобы клиент смог без труда найти объект)</li>
                          <li>Название улицы должно быть без ошибок</li>
                          <li>Указывайте фактический адрес объекта, а не Ваш рабочий или домашний адрес</li>
                      </ul>
                  </div>
                  <div class="register_camp__info_block">
                      <h5>Зачем добавлять адрес?</h5>
                      <div>
                          После того как гость совершает бронирование наша система направляет ему полную информацию
                          о бронировании и этот адрес. Он нужен для того, чтобы гость смог найти Ваш объект, так что
                          при регистрации убедитесь в том, что адрес указан верно. Позже Вы сможете его изменить, если
                          возникнет такая необходимость.
                      </div>
                  </div>
              </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
</body>
</html>