{% extends "base.html" %}

{% load static %}

{% load humanize %}

<head>
    <title>{% block title %}Biglov.ru | Аренда домиков | Снять отель | Глэмпинг{% endblock title %}</title>
</head>
<body>
{% block content %}
    <aside class="realty-list-container">
        <menu class="realty-type-filters"  id="filters_menu">
            <div class="lt_realty_list__open_filters">
                <a data-bs-toggle="realty-type-filters" data-bs-target="#filters_menu"><img class="base__filters_img_close" id="filters_menu_button_close" src="../../static/img/icons/free-icon-options-8111047.png"></a>
            </div>

            <form class="block-type" action="{% url 'app_premises:realty_list' %}" method="post">{% csrf_token %}
                <menu class="search-realty-list-block-type">
                    <div class="container2">
                        <div class="row height d-flex justify-content-center align-items-center">
                            <div class="col-md-8" id="search-form-input">
                                <div class="search2">
                                    <i class="fa fa-search"></i>
                                    <input name="q" type="text" value="{{ searched_city }}" class="form-control search-date" id="search-form" placeholder="Введите название города" autocomplete="off">
<!--                                    <button name="search" class="btn btn-info" id="realty-search-button"></button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </menu>
                <menu class="date-block-type">
                    <menu class="search-form2-datepicker">
                        <div class="date-picker__camps_list" id="base-search">
                            {{ list_reserve_form.check_in }} -
                            {{ list_reserve_form.check_out }}
                        </div>

                        <script>
                          $(function () {
                            $("#id_check_in").datepicker({
                              format:'dd.mm.yyyy',
                              startDate:'today',
                              autoHide:'True',
                              autoPick:'True',
                              language:'ru-RU',
                            });
                          });
                        </script>

                        <script>
                          $(function () {
                            $("#id_check_out").datepicker({
                              format:'dd.mm.yyyy',
                              startDate:'today',
                              autoHide:'True',
                              autoPick:'True',
                              language:'ru-RU',
                            });
                          });
                        </script>
                    </menu>
                </menu>

                <menu class="block-type">
                    <h6 class="realty-menu-text">Сортировка</h6>
                    <div class="main-filter">{{ main_filter }}</div>
                </menu>

                <menu class="block-type">
                    <h6 class="realty-menu-text">Диапазон цен</h6>
                    <div class="price-filter">{{ price_filter.as_p }}</div>
                </menu>

                <menu class="block-type">
                    <h6 class="realty-menu-text">Отмена бронирования</h6>
                    <div class="form-checkbox">
                        {% for cancel_type in book_filter %}
                            {{ cancel_type.0 }}
                        {% endfor %}
                    </div>
                </menu>

                <menu class="block-type">
                    <h6 class="realty-menu-text">Способ оплаты</h6>
                    <div class="form-checkbox">
                        {% for pay_type in pay_filter %}
                            {{ pay_type.0 }}
                            {{ pay_type.1 }}
                        {% endfor %}
                    </div>
                </menu>

                <menu class="block-type">
                    <h6 class="realty-menu-text">Тип размещения</h6>
                    <div class="form-check form-switch">
                        {{ realty_type_checkbox }}
                      <label class="form-check-label"></label>
                    </div>
                    <script>
                        $("label").attr("for", "");
                    </script>
                </menu>

<!--                <menu class="block-type">-->
<!--                    <h6 class="realty-menu-text">В отеле</h6>-->
<!--                    <div class="form-checkbox">-->
<!--                        {% for hotel_option in hotel_filter_checkbox %}-->
<!--                            {{ hotel_option }}-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                    <script>-->
<!--                        $("label").attr("for", "");-->
<!--                    </script>-->
<!--                </menu>-->

<!--                <menu class="block-type">-->
<!--                    <h6 class="realty-menu-text">В номере</h6>-->
<!--                    <div class="form-checkbox">-->
<!--                        {% for room_option in room_filter_checkbox %}-->
<!--                            {{ room_option }}-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                    <script>-->
<!--                        $("label").attr("for", "");-->
<!--                    </script>-->
<!--                </menu>-->

<!--                <menu class="block-type">-->
<!--                    <h6 class="realty-menu-text">Питание</h6>-->
<!--                    <div class="form-checkbox">-->
<!--                        {% for food_option in food_options_checkbox %}-->
<!--                            {{ food_option.0 }}-->
<!--                            {{ food_option.1 }}-->
<!--                            {{ food_option.2 }}-->
<!--                            {{ food_option.3 }}-->
<!--                            {{ food_option.4 }}-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                </menu>-->
                <div style="display: flex; flex-direction: row; width: 100%; align-items: center;">
                    <input class="filter-input" type="submit" name="realty_list__search" value="Найти">
                </div>
            </form>
        </menu>

        <div class="lt_realty_list__open_filters">
            <a data-bs-toggle="realty-type-filters" data-bs-target="#filters_menu"><img class="base__filters_img" id="filters_menu_button" src="../../static/img/icons/free-icon-options-8111047.png"></a>
        </div>

        <div class="realty_list__realty_container">
            {% if adv_realty_list %}
                <div class="relaty_list__adv_list">
                    <ul class="realty-list">
                        {% for adv_realty in adv_realty_list|slice:4 %}
                            <div class="realty-card adv">
                                <img class="realty_list__adv_top_stamp" src="../../static/img/icons/free-icon-top-753359.png">
                                <div class="hotels_list__img_container">
                                  <a href='{% url "app_premises:realty_detail" adv_realty.slug %}'>
                                      <img src="../../media/{{ adv_realty.camp_photos.all.0.photo }}" id="hotels_list_img_adv" class="d-block w-100" alt="...">
                                  </a>
                                </div>
                                <div class="short-describe-text">
                                    <h4 class="short-description-title"><a class="camp_list__link_style" href='{% url "app_premises:realty_detail" adv_realty.slug %}'>{{ adv_realty.realty_name }}</a></h4>
                                    <div class="short-description-text">{{ adv_realty.realty_city }}</div>
                                    <div class="realty-list-price">{{ adv_realty.realty_price|intcomma }} ₽ в сутки</div>
                                    <div class="short-description-text">Спальных мест: {{ adv_realty.count_of_persons }}</div>
                                    <div class="realty_list__views_container">
                                        <form method="get" id="is_favorite_adv{{ adv_realty.id }}" class="realty_list__favorite_container">
                                            {% if favorite_list %}
                                                {% for object in favorite_list %}
                                                    {% if adv_realty in object.camps.all %}
                                                        <img id="dismissAdvFavorite{{ adv_realty.id }}" style="width: 12%;" onclick="{{ adv_realty.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}">
                                                    {% elif adv_realty not in object.camps.all %}
                                                        <img id="addAdvFavorite{{ adv_realty.id }}" style="width: 12%;" onclick="{{ adv_realty.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924.png' %}">
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <img style="width: 12%;" onclick="{{ adv_realty.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924.png' %}">
                                            {% endif %}
                                        </form>

                                    </div>

                                    <script>
                                        $(document).ready(
                                          $('#addAdvFavorite' + {{ adv_realty.id }}).click(function(e){
                                            e.preventDefault();
                                            var serializedData = $(this).serialize();
                                            $.ajax({
                                              type:"GET",
                                              url: "../../rent/favorite",
                                              data: {"realty_id": {{adv_realty.id}}},
                                              success: function(data){
                                                  $("#addFavorite").html(data);
                                                  if (data == 'to') {
                                                      $("#addFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                      $("#addAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}")
                                                  }
                                                  else {
                                                      $("#addFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                      $("#addAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                  }
                                              },
                                            });
                                          })
                                        );
                                    </script>

                                    <script>
                                        $(document).ready(
                                          $('#dismissAdvFavorite' + {{ adv_realty.id }}).click(function(e){
                                            e.preventDefault();
                                            var serializedData = $(this).serialize();
                                            $.ajax({
                                              type:"GET",
                                              url: "../../rent/favorite",
                                              data: {"realty_id": {{adv_realty.id}}},
                                              success: function(data){
                                                  $("#dismissFavorite").html(data);
                                                  if (data == 'from') {
                                                      $("#dismissFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                      $("#dismissAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                  }
                                                  else {
                                                      $("#dismissFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                      $("#dismissAdvFavorite" + {{ adv_realty.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                  }
                                              },
                                            });
                                          })
                                        );
                                    </script>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <ul class="realty-list">
                {% if realty_list %}
                    {% for obj in realty_list %}
                        <div class="realty-card">
                            <div class="hotels_list__img_container">
                              <a href='{% url "app_premises:realty_detail" obj.slug %}'>
                                  <img src="../../media/{{ obj.camp_photos.all.0.photo }}" id="hotels_list_img" class="d-block w-100" alt="...">
                              </a>
                            </div>
                            <div class="short-describe-text">
                                <h4 class="short-description-title"> <a class="camp_list__link_style" href='{% url "app_premises:realty_detail" obj.slug %}'>{{ obj.realty_name }}</a></h4>
                                <div class="short-description-text">{{ obj.realty_city }}</div>
                                <div class="realty-list-price">{{ obj.realty_price|intcomma }} ₽ в сутки </div>
                                <div class="short-description-text">Спальных мест: {{ obj.count_of_persons }}</div>
                                <div class="realty_list__views_container">
                                    <form method="get" id="addFavoriteForm{{ obj.id }}" data-url_root="{% url 'app_premises:realty_list' %}" class="realty_list__favorite_container">
                                        {% if favorite_list %}
                                            {% for object in favorite_list %}
                                                {% if obj in object.camps.all %}
                                                    <img id="dismissFavorite{{ obj.id }}" style="width: 12%;" onclick="{{ obj.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}">
                                                {% else %}
                                                    <img id="addFavorite{{ obj.id }}" style="width: 12%;" onclick="{{ obj.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924.png' %}">
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img style="width: 12%;" onclick="{{ adv_realty.id }}" src="{% static 'img/icons/free-icon-wishlist-3132924.png' %}">
                                        {% endif %}
                                    </form>
                                </div>

                                <script>
                                    $(document).ready(
                                      $('#addFavorite' + {{ obj.id }}).click(function(e){
                                        e.preventDefault();
                                        var serializedData = $(this).serialize();
                                        $.ajax({
                                          type:"GET",
                                          url: "../../rent/favorite",
                                          data: {"realty_id": {{obj.id}}},
                                          success: function(data){
                                              $("#addFavorite").html(data);
                                              if (data == 'to') {
                                                  $("#addFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                  $("#addAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}")
                                              }
                                              else {
                                                  $("#addFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                  $("#addAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                              }
                                          },
                                        });
                                      })
                                    );
                                </script>

                                <script>
                                    $(document).ready(
                                      $('#dismissFavorite' + {{ obj.id }}).click(function(e){
                                        e.preventDefault();
                                        var serializedData = $(this).serialize();
                                        $.ajax({
                                          type:"GET",
                                          url: "../../rent/favorite",
                                          data: {"realty_id": {{obj.id}}},
                                          success: function(data){
                                              console.log(data + '2');
                                              $("#dismissFavorite").html(data);
                                              if (data == 'from') {
                                                  $("#dismissFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                                  $("#dismissAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924.png' %}");
                                              }
                                              else {
                                                  $("#dismissFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                                  $("#dismissAdvFavorite" + {{ obj.id }}).attr("src", "{% static 'img/icons/free-icon-wishlist-3132924-added.png' %}");
                                              }
                                          },
                                        });
                                      })
                                    );
                                </script>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="lt_realty_list__empty_queryset">
                        <img class="lt_realty_list__empty_queryset_img" src="{% static 'img/icons/free-icon-guy-7836451-blonde.png' %}">
                        <div class="lt_realty_list__empty_queryset_text">По Вашему запросу ничего не найдено</div>
                    </div>
                {% endif %}
            </ul>
        </div>
    </aside>

<!--    <script type="text/javascript" src="{% static 'js/favorite.js' %}"></script>-->

    <script>
        let show_filter = document.getElementById('filters_menu');
        let open_btn  = document.getElementById('filters_menu_button');
        let close_btn = document.getElementById('filters_menu_button_close');

        open_btn.addEventListener('click',()=>{
            show_filter.style.display = 'inline-block';
            open_btn.style.display = 'none';
            close_btn.style.display = 'inline-block';
        })

        close_btn.addEventListener('click', ()=>{
            show_filter.style.display = 'none';
            close_btn.style.display = 'none';
            open_btn.style.display = 'inline-block';
        })
    </script>
{% endblock content %}
</body>

</html>