<!DOCTYPE html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}Biglov{% endblock title%}</title>
    <link type="text/css" rel="reset" href="{% static 'css/reset.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script src="../../static/js/datepicker.ru-RU.js"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

</head>
<header class="basemenu" id="header">
    <nav class="menu1">
        <nav class="base__logo_and_menu">
            <a class="base-logo" href="/"><img class="logo-main" src="../../static/img/logo.png" alt="Логотип"></a>
            <div class="base-menu-buttons">
                {% if request.user.is_authenticated %}
                    <div class="dropdown">
                      <a class="base_menu__a_guest_and_img" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                          <div class="base_menu__guest_name">{{ guest }}</div><img class="open-profile-button" src="{% static 'img/icons/icons8-login-66.png' %}" alt="Войти в кабинет">
                      </a>
                      <form class="dropdown-menu p-4" id="base_menu__container">
                          <p>{{ guest }}</p>
                          <p class="base_menu__lk_logout">
                              {% if request.user.slug %}
                                <a href="{% url 'app_profiler:account_detail' slug=request.user.slug %}">Личный кабинет</a>
                              {% else %}
                                <a href="{% url 'app_profiler:account_detail' id=request.user.id %}">Личный кабинет</a>
                              {% endif %}
                              <a href="{% url 'app_profiler:logout' %}">Выйти</a>
                          </p>
                          <ul class="base_menu__links_container">
                              {% if request.user.is_company %}
                                  <li class="base_menu__li_container">
                                      <a href="{% url 'app_profiler:company_detail' company_id=request.user.id %}">
                                          Кабинет арендодателя
                                      </a>
                                  </li>
                              {% endif %}
                                  <li class="base_menu__li_container"><a href="{% url 'app_profiler:account_reserves' slug=request.user.slug %}">Мои бронирования</a></li>
                          </ul>
                      </form>
                    </div>
                {% else %}
                    <div class="dropdown" id="login">
                            <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <button type="button" class="btn btn-light">Войти</button>
                            </a>
                            <div class="dropdown-menu">
                                <form class="px-4 py-3" id="login-form" method="post">{% csrf_token %}
                                    <div class="mb-3">
                                        {{ auth_form.email }}
                                    </div>
                                    <div class="mb-3">
                                        {{ auth_form.password }}
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-check" id="remember-me">
                                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                            <label class="form-check-label" for="dropdownCheck">
                                                Запомнить меня
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" id="base__login_form" name="submit-login-form" class="btn btn-success">Войти</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <form method="get" action="{% url 'app_profiler:register1' %}">
                                    <button class="dropdown-item" name="basic__register_button">Впервые у нас? <b>Зарегистрироваться</b></button>
                                </form>
                                <a class="dropdown-item" href="#">Забыли пароль?</a>
                            </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <nav class="base__main_menu">
            <a id="base__menu_buttons1" type="" href="{% url 'app_index:index' %}" class="btn btn-outline-light">Жилье</a>
<!--            <a id="base__menu_buttons2" type="" href="{% url 'app_auto:auto_index' %}" class="btn btn-outline-light">Авто</a>-->
        </nav>
    </nav>
</header>

<body>
    {% block content %}{% endblock content %}
        <div id="pop_up" style="position: fixed; left: 50%; top: 50%;transform: translate(-50%, -50%); display: none; z-index: 100; padding: 5px;">
            <button id="close_pop_up_btn" class="btn-close" aria-label="Close"></button>
            <form class="register-container" method="post">{% csrf_token %}
                <div class="register-form-main-container">
                    <p class="register-form-container">
                        <p>{{ register_form.email }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.password1 }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.password2 }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.first_name }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.last_name }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.slug }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.phone }}</p>
                    <p class="register-form-container">
                        <p>{{ register_form.birthday }}</p>
                    <div class="form-check form-switch">
                        <p class="register-form-container">
                        <p>{{ register_form.is_company }}</p>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Являюсь арендодателем</label>
                    </div>
                    <div class="form-check form-switch">
                        {{ register_form.is_active }}
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            Согласиться с <a style="color: blue;" href="{% url 'app_rules:rules' %}" target="_ blank">правилами сайта</a> и <a style="color: blue;" href="{% url 'app_rules:privacy_policy' %}" target="_ blank">Политикой конфиденциальности</a>
                        </label>
                    </div>
                </div>
                <button type="submit" name="save-register-form" class="btn btn-light" id="register-button">Зарегистрироваться</button>
            </form>
        </div>

    <script>
      $(function () {
        $("#id_birthday").datepicker({
          format:'dd.mm.yyyy',
          startDate:'today',
          autoHide:'True',
          autoPick:'True',
          language:'ru-RU',
        });
      });
    </script>

    <script>
        let pop_up   = document.getElementById('pop_up');
        let open_btn  = document.getElementById('open_pop_up');
        let close_btn = document.getElementById('close_pop_up_btn');

        open_btn.addEventListener('click',()=>{
            pop_up.style.display = 'block';
        })

        close_btn.addEventListener('click', ()=>{
            pop_up.style.display = 'none';
        })

    </script>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })
    </script>

    <a href="#header"><img class="base__arrow_top" src="../../static/img/icons/free-icon-arrowhead-up-3838683.png"></a>
</body>
{% block footer %}
<footer class="base__footer_not_fixed">
    <div class="base__footer_container">
        <a class="base__logo_footer" href="/"><img class="logo-main_footer" src="../../static/img/logo.png" alt="Логотип"></a>
        <div class="base__copyright">
            <li class="base_menu__li_container"><a class="footer__links" href="{% url 'app_rules:our_values' %}">Наши ценности</a></li>
            <li class="base_menu__li_container"><a class="footer__links" href="{% url 'app_rules:rules' %}">Правила сайта</a></li>
            <li class="base_menu__li_container"><a class="footer__links" href="{% url 'app_rules:privacy_policy' %}">Политика конфиденциальности</a></li>
            <li class="base_menu__li_container"><a class="footer__links" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">Контакты</a></li>
        </div>
    </div>

    <!-- Модальное окно управления промо-акциями -->
    <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel5">Контакты</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
              <div>Телефон для справок: +7 (938) 416-66-72</div>
              <div>Эл. почта: biglov.info@yandex.ru</div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
</footer>
{% endblock footer %}
</html>