<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html class="index__html" lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chill{% endblock title %}</title>
    <link type="text/css" rel="reset" href="../../static/css/reset.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/stylesheet.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script src="../../static/js/datepicker.ru-RU.js"></script>

</head>
<body>
{% block content %}
    <form class="search-form2" action="{% url 'app_premises:realty_list' %}" method="get">
        <menu class="search-form-input">
            <div class="container2">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8" id="search-form-input">
                        <div class="search2">
                            <i class="fa fa-search"></i>
                            <input name="q" type="text" class="form-control" id="search-form" placeholder="Введите название города" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-search-button-container2">
                <button name="search" class="btn btn-info" id="base-search-button">Поиск</button>
            </div>
        </menu>
        <menu class="search-form2-datepicker">
            <div class="date-picker-index" id="base-search">
                {{ reserve_form.check_in }} -
                {{ reserve_form.check_out }}
            </div>

            <script>
              $(function () {
                $("#id_check_in").datepicker({
                  format:'dd.mm.yyyy',
                  startDate:'today',
                  autoHide:'True',
                  autoPick:'True',
                  language:'ru-RU',
                });
              });
            </script>

            <script>
              $(function () {
                $("#id_check_out").datepicker({
                  format:'dd.mm.yyyy',
                  startDate: 'today',
                  autoHide:'True',
                  language:'ru-RU',
                });
              });
            </script>
        </menu>
    </form>

    <div class="index-conteiner">
        <div class="index-main-text">
            <h2 class="index-h2-text">Бронируй, властвуй, отдыхай!</h2>
            <div class="index-conteiner-h3-img">
                <h3 class="index-h3-text">Контролируй свой отдых, </h3>
                <img class="just-chill-index" src="static/img/just-chill.png" alt="JUST_CHILL">
            </div>
        </div>
    </div>

    <div class="index-top-realty">
        <div class="index-top-container">
            <a href="{% url 'app_premises:realty_detail' realty_first.slug %}">
                <div class="popular_place"><img class="index__popular_img" src="../../static/img/icons/free-icon-gold-cup-2502694.png"></div>
                <img class="index-top-picture" src="../../media/{{ photos_first.0.photo }}" alt="Фото объекта">
            </a>
            <div class="index-top-describe">
                <a href="{% url 'app_premises:realty_detail' realty_first.slug %}">
                    <p style="font-size: 1.2em; font-weight: bold; color: black;">{{ realty_first.realty_name }}</p>
                </a>
                <p>{{ realty_first.realty_country }}, {{ realty_first.realty_region }}, {{ realty_first.realty_address }}</p>
            </div>
        </div>

        <div class="index-top-container">
            <a href="{% url 'app_premises:realty_detail' realty_second.slug %}">
                <div class="popular_place2"><img class="index__popular_img" src="../../static/img/icons/free-icon-silver-cup-2502698.png"></div>
                <img class="index-top-picture" src="../../media/{{ photos_second.0.photo }}" alt="Фото объекта">
            </a>
            <div class="index-top-describe">
                <a href="{% url 'app_premises:realty_detail' realty_second.slug %}">
                    <p style="font-size: 1.2em; font-weight: bold; color: black;">{{ realty_second.realty_name }}</p>
                </a>
                <p>{{ realty_second.realty_country }}, {{ realty_second.realty_region }}, {{ realty_second.realty_address }}</p>
            </div>
        </div>

        <div class="index-top-container">
            <a href="{% url 'app_premises:realty_detail' realty_third.slug %}">
                <div class="popular_place3"><img class="index__popular_img" src="../../static/img/icons/free-icon-bronze-medal-179250.png"></div>
                <img class="index-top-picture" src="../../media/{{ photos_third.0.photo }}" alt="Фото объекта">
            </a>
            <div class="index-top-describe">
                <a href="{% url 'app_premises:realty_detail' realty_third.slug %}">
                    <p style="font-size: 1.2em; font-weight: bold; color: black;">{{ realty_third.realty_name }}</p>
                </a>
                <p>{{ realty_third.realty_country }}, {{ realty_third.realty_region }}, {{ realty_third.realty_address }}</p>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>