<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html class="index__html" lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{% block title %}Biglov | Официальный сайт | Снять квартиру, забронировать отель, авто{% endblock title %}</title>
    <link href="{% static 'css/reset.css' %}" type="text/css" rel="reset">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" type="text/css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script src="../../static/js/datepicker.ru-RU.js"></script>

</head>
{% block content %}
<body class="index__body">

    <div class="index-conteiner">
        <div class="index-main-text">
            <h2 class="index-h2-text">Бронируй, властвуй, отдыхай!</h2>
            <div class="index-conteiner-h3-img">
                <img class="just-chill-index" src="{% static 'img/just-chill.png' %}" alt="JUST_CHILL">
            </div>
        </div>
    </div>

    <form class="search-form2" action="{% url 'app_premises:realty_list' %}" method="get">
        <input name="q" type="text" class="form-control" id="search-form" placeholder="Куда отправимся?" autocomplete="off">
        <div class="date-picker-index" id="base-search">
            {{ reserve_form.check_in }}
            {{ reserve_form.check_out }}
        </div>

        <script>
          $(function () {
            $("#main_search_in").datepicker({
              format:'dd.mm.yyyy',
              startDate:'today',
              autoHide:'True',
              autoPick:'True',
              language:'ru-RU',
            });
          });
        </script>

        <script>
          $(function () {
            $("#main_search_out").datepicker({
              format:'dd.mm.yyyy',
              startDate: 'today',
              autoHide:'True',
              language:'ru-RU',
            });
          });
        </script>
        <button name="search" class="btn btn-info" id="base-search-button">Проверить цены</button>
    </form>

    <div class="index__adv_long_term">
        <div class="index__adv_main_container">
            <div class="index__adv_text">
                <div>
                    Планируете переезд?
                    <div class="index__adv_text_sub">Найдите жилье своей мечты на <b style="color: #0f90e4">Biglov.ru</b></div>
                </div>
                <a id="base__menu_buttons1" type="" href="{% url 'app_premises:lt_realty_list' %}" class="btn btn-success">Найти жилье на длительный срок</a>
            </div>
        </div>
        <div class="index__adv_main_container2">
            <div class="index__adv_text">
                <div>
                    Сайт находится в процессе разработки. Ваши отзывы крайне важны! Если нашли "баг" - сообщите нам!
                </div>
            </div>
        </div>
    </div>
    <div class="index__top_directions">
        <div class="index__top_title_container">
            <h4 class="index__top_h4_text">Выбор посетителей</h4>
            <img class="index__top_help_img" id="index__top_help" src="{% static 'img/icons/free-icon-information-906794.png' %}">
            <div class="index__top_help_show" style="display: none;">
                <div>Топ просматриваемых вариантов размещения</div>
            </div>
        </div>
        <div class="index__top_content_container">
            {% for object in index_realty_list %}
                <div class="index__top_content">
                    <a class="index__top_link_style" href="{% url 'app_premises:realty_detail' slug=object.slug %}">
                        <img class="index__top_img" src="../../media/{{ object.camp_photos.all.0.photo }}">
                        <div class="index__top_camp_title">{{ object }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        var x = document.querySelector('.index__top_help_img');
        var y =  document.querySelector('.index__top_help_show');
        x.onmouseover = function () {
            y.style.display = 'block';
        };
        x.onmouseout = function () {
            y.style.display = 'none';
        };
    </script>

</body>
{% endblock %}

</html>