{% extends "base.html" %}

{% load static %}

{% load humanize %}

<head>
    <title>{% block title %}Biglov.ru | {{ realty.get_realty_type_display }} {{ realty.realty_name }} | Аренда в г. {{ realty.realty_city }} | Загородная недвижимость{%endblock title %}</title>
</head>
<body>
{% block content %}
    <ul class="realty_list">
        <aside class="realty_detail__top_text">
            <div class="hotels_detail__main_container">
                <div class="detail_hotels__realty_type">{{ realty.get_realty_type_display }}</div>
                {% if not realty.stars %}
                    <img class="hotels_detail__rating_stars" id="detail__stars_info" src="{% static 'img/icons/0 stars.png' %}">
                {% elif realty.stars == '1' %}
                    <img class="hotels_detail__rating_stars" id="detail__stars_info1" src="{% static 'img/icons/1 star.png' %}">
                {% elif realty.stars == '2' %}
                    <img class="hotels_detail__rating_stars" id="detail__stars_info2" src="{% static 'img/icons/2 stars.png' %}">
                {% elif realty.stars == '3' %}
                    <img class="hotels_detail__rating_stars" id="detail__stars_info3" src="{% static 'img/icons/3 stars.png' %}">
                {% elif realty.stars == '4' %}
                    <img class="hotels_detail__rating_stars" id="detail__stars_info4" src="{% static 'img/icons/4 stars.png' %}">
                {% elif realty.stars == '5' %}
                    <img class="hotels_detail__rating_stars" id="detail__stars_info5" src="{% static 'img/icons/5 stars.png' %}">
                {% endif %}
                <div class="detail_hotels__realty_name">{{ realty.realty_name }}</div>
                <div class="realty_address">{{ realty.realty_country }}, {{ realty.realty_address }} - {{ realty.realty_city }} </div>
                <div class="detail_hotels__header_comments_count">
                    <div class="hotels_detail__avg_guest_mark">9</div>
                    <div style="color: black;">Отлично</div>
                    <li style="margin-left: 30px;"><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Отзывов</a> - {{ comments_count.count }}</li>
                </div>
                <div class="hotels_detail__stars_info_show" id="info1" style="display: none;">
                    <div>Звездный рейтинг предоставляется Biglov.ru объектом размещения. Обычно он присваивается официальной организацией или какой-либо еще третьей стороной.
                        Подробную информацию можно найти в <a href="#">правилах и условиях</a>.</div>
                </div>
            </div>
            <script>
                var x = document.querySelector('.hotels_detail__rating_stars');
                var y =  document.querySelector('.hotels_detail__stars_info_show');
                x.onmouseover = function () {
                    y.style.display = 'block';
                };
                x.onmouseout = function () {
                    y.style.display = 'none';
                };
            </script>
            <div class="realty_detail__edit_link">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_company %}
                        {% if current_realty.company == current_company %}
                            <a id="detail__show_edit_form" href="{% url 'app_premises:realty_edit' slug=realty_slug %}">
                                <img class="edit__realty" src="{% static 'img/icons/free-icon-settings-2735296.png' %}" alt="Редактировать">
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </aside>

        <div class="realty-detail-img-container">
            <div class="camp_detail__one_more_container">
                <div class="hotels_detail__check_reservation">
                    <div>
                        <div class="check-the-reservation">
                            <form class="realty-detail-check-reserve-container" method="get" action="?">
                                <div class="realty_detail__check_container">
                                    {% if not 'check-is-reserve-available' in request.GET %}
                                        <div class="hotels_detail__datepicker_container">
                                            <div>Дата заселения:</div>
                                            <div class="hotels_detail__datepicker">{{ detail_reserve_form.check_in }}</div>
                                        </div>
                                        <div class="hotels_detail__datepicker_container">
                                            <div>Дата отъезда:</div>
                                            <div class="hotels_detail__datepicker">{{ detail_reserve_form.check_out }}</div>
                                        </div>
                                        <button class="btn btn-light" type="submit" value="{{ realty.id }}, {{ realty.realty_price }}" id="check-detail-button" name="check-is-reserve-available">Проверить</button>
                                    {% elif 'check-is-reserve-available' in request.GET %}
                                        <div class="hotels_detail__datepicker_container">
                                            <div>Дата заселения:</div>
                                            <div class="hotels_detail__datepicker">{{ detail_reserve_form.check_in }}</div>
                                        </div>
                                        <div class="hotels_detail__datepicker_container">
                                            <div>Дата отъезда:</div>
                                            <div class="hotels_detail__datepicker">{{ detail_reserve_form.check_out }}</div>
                                        </div>
                                        <button class="btn btn-light" type="submit" value="{{ realty.id }}, {{ realty.realty_price }}" id="check-detail-button2" name="check-is-reserve-available">Проверить</button>

                                        <div class="realty_detail__check_container">
                                            {% if pk == reservation_set_detail.0.obj_id %}
                                                <div class="realty-detail-booked">
                                                    <p class="realty-booked-text">Забронировано</p>
                                                    <p class="realty-booked-date-range">с {{ reservation_set_detail.0.obj_check_in }} по {{ reservation_set_detail.0.obj_check_out }}</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </form>

                            {% if pk != reservation_set_detail.0.obj_id %}
                                <form class="realty_detail__reserve_button" method="get" action="{% url 'app_premises:reservation' %}">
                                    <button class="btn btn-light" type="submit" value="{{ realty.id }}, {{ realty.realty_price }}, {{ check_in }}, {{ check_out }}" id="to-reserve-page-id" name="to-reserve-page">Забронировать</button>
                                </form>
                            {% endif %}

                            <script>
                              $(function () {
                                $("#id_check_in").datepicker({
                                  format:'dd.mm.yyyy',
                                  startDate:'today',
                                  autoHide:'True',
                                  autoPick:'True',
                                  language:'ru-RU',
                                });
                              });
                            </script>

                            <script>
                              $(function () {
                                $("#id_check_out").datepicker({
                                  format:'dd.mm.yyyy',
                                  startDate:'today',
                                  autoHide:'True',
                                  language:'ru-RU',
                                });
                              });
                            </script>
                        </div>
                    </div>
                    <div class="realty_detail__sub_info">
                        <p class="realty_detail__p_sub_info">Количество гостей: {{ realty.count_of_persons }}</p>
                        <p class="realty_detail__p_sub_info">Площадь дома: {{ realty.realty_area }} м²</p>
                        <p class="realty_detail__p_sub_info">Расстояние до города: {{ realty.realty_to_city }} км</p>
                    </div>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img id="realty_detail__main_image" src="../../media/{{ detail_photos.0.photo }}" class="d-block w-100" alt="...">
                    </div>

                  </div>

                </div>
                <div class="realty_detail__img_min_container">
                    {% for photo in detail_photos %}
                        <img id="mini_img_gallery{{ photo.id }}" onclick="{{ photo.id }}" src="../../media/{{ photo.photo }}" class="realty_detail__img_min" alt="...">

                        <script>
                            var image = document.getElementById("mini_img_gallery" + {{photo.id}});
                            image.onclick = function(e) {
                                $("#realty_detail__main_image").attr("src", "../../media/{{photo.photo}}");
                            };
                        </script>

                    {% endfor %}
                </div>
            </div>



<!--            Основные опции-->

            <div class="realty_detail__options_list_img">
                <div class="realty_detail__options_img_container">
                    <img class="realty_detail__options_img" src="{% static 'img/icons/free-icon-home-3894032.png' %}">
                    <div class="realty_detail__option_info">{{ realty.get_realty_type_display }}</div>
                </div>
                <div class="realty_detail__options_img_container">
                    <img class="realty_detail__options_img" src="{% static 'img/icons/free-icon-area-8442305.png' %}">
                    <div class="realty_detail__option_info">Площадь {{ realty.realty_area }} м²</div>
                </div>
                {% for option in realty.options.all|slice:2 %}
                    <div class="realty_detail__options_img_container">
                        <img class="realty_detail__options_img" src="../../static/img/icons/{{ option.icon_url }}">
                        <div class="realty_detail__option_info">{{ option }}</div>
                    </div>
                {% endfor %}
            </div>

<!--            Описание-->

            <div class="realty_detail__description">
                <div class="camp_detail__descriptions_container">{{ realty.full_description | safe | linebreaks }}</div>
            </div>

<!--            ОПЦИИ-->

            <div class="realty_detail__options_popup">
                <div class="realty_detail__option_popup_in">
                    <h6 class="realty_detail__h6_options">На территории:</h6>
                    <ul class="realty_detail__ul">
                        {% if in_hotel_options %}
                            {% for in_hotel_option in in_hotel_options %}
                                <li class="camp_detail__full_options_list">
                                    <img class="camp_detail__full_options_list_img" src="../../static/img/icons/{{ in_hotel_option.icon_url }}">{{ in_hotel_option }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="realty_detail__option_popup_in">
                    <h6 class="realty_detail__h6_options">В номере:</h6>
                    <ul class="realty_detail__ul">
                        {% if in_room_options %}
                            {% for in_room_option in in_room_options %}
                                <li class="camp_detail__full_options_list">
                                    <img class="camp_detail__full_options_list_img" src="../../static/img/icons/{{ in_room_option.icon_url }}">{{ in_room_option }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

<!--            Отзывы-->

            <div class="realty_detail__reviews_container">
                <h5 style="font-weight: bold; padding: 0;">
                    Отзывы (<a href="#">Показать все</a>)
                </h5>
                <div class="detail_realty__comments_full_container">
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="detail__comments_text_container">
                                <div class="detail__comment_username">{{ comment }}:</div>
                                <div class="detail__comments_text_space">{{ comment.comment_text|slice:200 }}...</div>
                                <div class="detail__publish_at">{{ comment.publish_at }}</div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="hotels_detail__no_comments">
                            <div style="font-size: 1em; font-weight: bold; color: black;">Тут еще нет отзывов!</div>
                        </div>
                    {% endif %}
                </div>
<!--                <form class="detail__comments_container full" name="feedbackForm" id="commentsList" method="get">-->
<!--                    {% if comment_form %}-->
<!--                        <div class="detail__comments_form_text_and_user">-->
<!--                            {{ comment_form.realty.as_hidden }}-->
<!--                            {{ comment_form.user.as_hidden }}-->
<!--                            {{ comment_form.comment_text }}-->
<!--                            <img id="sendMessage2" onclick="{{ comment.id }}" src="{% static 'img/icons/free-icon-upload-463310.png' %}">-->
<!--                        </div>-->
<!--                    {% else %}-->
<!--                        <div class="hotels_detail__no_comments_info">-->
<!--                            <div>Вы не можете оставить отзыв на объект в котором не жили.</div>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                </form>-->

                <script>
                    $(document).ready(
                      $('#sendMessage2').click(function(){
                        var user = document.feedbackForm.user.value;
                        var comment_text = document.feedbackForm.comment_text.value;
                        var realty = document.feedbackForm.realty.value;
                        $.ajax({
                          type:"GET",
                          url: "../../add_comment",
                          data: {"comment_text": comment_text, "user": user, "realty": realty},
                          success: function(data){
                              console.log({{ comment.id }})
                              $("#commentsList").append('<div class="detail__comments_text_container" data-id="' + ' ' + '"><div class="detail__comment_username">' + data + '</div><div class="detail__comments_text_space">' + comment_text + '</div></div><p class="detail__publish_at">' + '' + '</p>');
                          }
                        })

                        $("#commentsList")[0].reset();

                      }),
                    );
                </script>
            </div>

<!--            Правила объекта размещения-->

            <h5 style="margin-top: 10px; font-weight: bold;">Правила объекта размещения</h5>
            <div class="hotels_detail__param_container">
                <div class="camp_detail__arriving_departure">
                            <img class="camp_detail__living_rules_img" src="{% static 'img/icons/free-icon-girl-7836504.png' %}">
                    <div class="camp_detail__arriving_departure_parameter">Заселение</div>
                    <div class="realty_detail__in_out_rules">
                        С {{ realty.arriving_time }} до {{ realty.arriving_time_to }}
                        <div class="realty_detail__check-in_rules">Для заселения необходимо предоставить паспорт.</div>
                    </div>

                </div>

                <div class="camp_detail__arriving_departure">
                            <img class="camp_detail__living_rules_img" src="{% static 'img/icons/free-icon-girl-7836473.png' %}">
                    <div class="camp_detail__arriving_departure_parameter">Отъезд</div>
                    <div class="realty_detail__in_out_rules">До {{ realty.departure_time_to }}</div>
                </div>
                <div class="camp_detail__arriving_departure">
                            <img class="camp_detail__living_rules_img" src="{% static 'img/icons/free-icon-calendar-5237130.png' %}">
                    <div class="camp_detail__options_container">
                        {% if realty.book_cancel == 'y' %}
                            <li style="color:green;" class="main_option_elem">{{ realty.get_book_cancel_display }}</li>
                        {% elif realty.book_cancel == 'n' %}
                            <li style="color:red;" class="main_option_elem">{{ realty.get_book_cancel_display }}</li>
                        {% endif %}
                    </div>
                </div>
                <div class="camp_detail__arriving_departure">
                            <img class="camp_detail__living_rules_img" src="{% static 'img/icons/free-icon-food-service-4483612.png' %}">
                    <div class="camp_detail__options_container">
                        {% if realty.food_options == 'a' %}
                            <li style="color:green;" class="main_option_elem">{{ realty.get_food_options_display }}</li>
                        {% elif realty.food_options == 'b' %}
                            <li style="color:green;" class="main_option_elem">{{ realty.get_food_options_display }}</li>
                        {% elif realty.food_options == 'c' %}
                            <li style="color:green;" class="main_option_elem">{{ realty.get_food_options_display }}</li>
                        {% elif realty.food_options == 'd' %}
                            <li style="color:green;" class="main_option_elem">{{ realty.get_food_options_display }}</li>
                        {% elif realty.food_options == 'e' %}
                            <li style="color:red;" class="main_option_elem">{{ realty.get_food_options_display }}</li>
                        {% endif %}
                    </div>
                </div>
                <div class="camp_detail__arriving_departure" style="border: none;">
                            {% if realty.pay_type == 'o' %}
                                <img class="camp_detail__living_rules_img" src="{% static 'img/icons/free-icon-credit-card-5950249.png' %}">
                            {% else %}
                                <img class="camp_detail__living_rules_img" src="{% static 'img/icons/money.png' %}">
                            {% endif %}
                    <div class="camp_detail__options_container">
                        {% if realty.pay_type == 'o' %}
                            <li class="main_option_elem">Доступна {{ realty.get_pay_type_display }}</li>
                        {% else %}
                            <li class="main_option_elem">{{ realty.get_pay_type_display }}</li>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="realty_detail__photo_and_menu_container">

                <ul class="realty_detail__list_info">


                    {% if adv_realty_list_curr_company %}
                        <div class="realty_detail__adv_another_realty_of-company" style="margin-top: 10px; width: 100%;">
                            <h5 class="options-list-title">Другие предложения компании</h5>
                            <ul class="realty_detail__list_of_realty">
                                {% for another_realty in adv_realty_list_curr_company %}
                                    <div>
                                        <img class="company__list_of_control_realty" src="../../media/{{ another_realty.camp_photos.all.0.photo }}">
                                        <a class="link-to-realty-from-profile" href="{% url 'app_premises:realty_detail' slug=another_realty.slug %}"><li class="company__realty_object">{{ another_realty }}</li></a>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if adv_lt_realty %}
                        <div class="realty_detail__adv_another_realty_of-company" style="margin-top: 10px; width: 100%;">
                            <h5 class="options-list-title">Сдается на длительный срок:</h5>
                            <ul class="realty_detail__list_of_realty">
                                {% for another_lt_realty in adv_lt_realty %}
                                    <div>
                                        <img class="company__list_of_control_realty" src="../../media/{{ another_lt_realty.flat_photos.all.0.photo }}">
                                        <a class="link-to-realty-from-profile" href="{% url 'app_premises:lt_realty_detail' pk=another_lt_realty.id %}"><li class="company__realty_object">{{ another_lt_realty }}</li></a>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </ul>

    <div id="pop_up4" style="position: fixed; left: 50%; top: 50%;transform: translate(-50%, -50%); display: none; z-index: 100; padding: 5px;">
        <button id="close_pop_up_btn4" class="btn-close" aria-label="Close"></button>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ detail_reserve_form.as_p }}
                <button type="submit">Зобронировать</button>
            </form>
        </div>
    </div>

<!--    &lt;!&ndash; Модальное окно всех опций &ndash;&gt;-->
<!--    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--      <div class="modal-dialog modal-xl">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <h5 class="modal-title" id="staticBackdropLabel2">Все доступные опции</h5>-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--          </div>-->
<!--          <div class="modal-body" id="camp_detail__modal_body">-->
<!--            <div class="detail__bottom_container_comment_and_info">-->
<!--                <div class="detail__description_container">-->
<!--                    <div class="realty_detail__options_popup">-->
<!--                        <div class="realty_detail__option_popup_in">-->
<!--                            <h6 style="color: black; text-align: left;">В отеле:</h6>-->
<!--                            <ul class="realty_detail__ul">-->
<!--                                {% if in_hotel_options %}-->
<!--                                    {% for in_hotel_option in in_hotel_options %}-->
<!--                                        <li class="camp_detail__full_options_list">-->
<!--                                            <img class="camp_detail__full_options_list_img" src="../../static/img/icons/{{ in_hotel_option.icon_url }}">{{ in_hotel_option }}-->
<!--                                        </li>-->
<!--                                    {% endfor %}-->
<!--                                {% endif %}-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="realty_detail__option_popup_in">-->
<!--                            <h6 style="color: black; text-align: left;">В номере:</h6>-->
<!--                            <ul class="realty_detail__ul">-->
<!--                                {% if in_room_options %}-->
<!--                                    {% for in_room_option in in_room_options %}-->
<!--                                        <li class="camp_detail__full_options_list">-->
<!--                                            <img class="camp_detail__full_options_list_img" src="../../static/img/icons/{{ in_room_option.icon_url }}">{{ in_room_option }}-->
<!--                                        </li>-->
<!--                                    {% endfor %}-->
<!--                                {% endif %}-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="realty_detail__option_popup_in">-->
<!--                            <h6 style="color: black; text-align: left;">Условия проживания:</h6>-->
<!--                            <ul class="realty_detail__ul">-->
<!--                                {% if other_options %}-->
<!--                                    {% for other_option in other_options %}-->
<!--                                        <li class="camp_detail__full_options_list">-->
<!--                                            <img class="camp_detail__full_options_list_img" src="../../static/img/icons/{{ other_option.icon_url }}">{{ other_option }}-->
<!--                                        </li>-->
<!--                                    {% endfor %}-->
<!--                                {% endif %}-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })
    </script>

{% endblock content %}
</body>
</html>