<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ realty.realty_name }}{%endblock title %}</title>
    <link type="text/css" rel="reset" href="../static/css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

</head>
<body>
{% block content %}
    {% if request.user.is_company %}
        {% if current_realty.company == current_company %}
            <a style="width: 10%;" href="{% url 'app_premises:realty_edit' slug=realty_slug %}">
                <img class="edit__realty" src="../static/img/icons/free-icon-settings-2735296.png" alt="Редактировать">
            </a>
        {% endif %}
    {% endif %}
    <ul class="realty_list">
        <aside class="realty-detail-img-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../media/{{ detail_photos.0.photo }}" class="d-block w-100" alt="...">
                </div>
                  {% if detail_photos.1 %}
                    <div class="carousel-item">
                      <img src="../../media/{{ detail_photos.1.photo }}" class="d-block w-100" alt="...">
                    </div>
                  {% endif %}
                  {% if detail_photos.2 %}
                    <div class="carousel-item">
                      <img src="../../media/{{ detail_photos.2.photo }}" class="d-block w-100" alt="...">
                    </div>
                  {% endif %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
              </button>
            </div>

            <div class="detail-info-container">

                <div class="detail__comments_and_info_container">
                    <div class="detail__menu_feedback_container">
                        <a class="btn btn-light" id="detail__show_comments" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><img class="detail__menu_icon" src="../../static/img/icons/free-icon-good-feedback-3594679.png"></a>
                        <label class="detail__menu_icon_label" for="detail__show_comments">Отзывы</label>
                    </div>
                    <!-- Кнопка вызова модального окна с описанием -->
                    <div class="detail__menu_description_container">
                        <a type="button" id="detail__show_description" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><img class="detail__menu_icon" src="../../static/img/icons/free-icon-edit-info-7033287.png"></a>
                        <label class="detail__menu_icon_label" for="detail__show_description">Описание</label>
                    </div>
                    <!-- Кнопка вызова модального окна с опциями -->
                    <div class="detail__menu_options_container">
                        <a type="button" id="detail__show_options" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><img class="detail__menu_icon" src="../../static/img/icons/free-icon-options-8111047.png"></a>
                        <label class="detail__menu_icon_label" for="detail__show_options">Удобства</label>
                    </div>

                    <div class="offcanvas offcanvas-start detail__show_comments" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                      <div class="offcanvas-header" id="detail__offcanvas_comments_header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Отзывы о "{{ realty }}"</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                      </div>
                      <div class="offcanvas-body">
                        <form class="detail__comments_container" method="post">{% csrf_token %}
                            {% for comment in comments|slice:8 %}
                                <div class="detail__comments_text_container">
                                    <b class="detail__comment_username">{{ comment }}:</b>
                                    <p class="detail__comments_text_space">{{ comment.comment_text }}</p>
                                </div>
                                {% if request.user.is_company %}
                                    <p class="detail__publish_at"><b style="color: black;">Ответ компании</b> {{ comment.publish_at }}</p>
                                {% else %}
                                    <p class="detail__publish_at">{{ comment.publish_at }}</p>
                                {% endif %}
                            {% endfor %}
                            <div class="detail__comment_text_and_user">
                                {{ comment_form.realty.as_hidden }}
                                {{ comment_form.user.as_hidden }}
                                {{ comment_form.comment_text }}
                                <button type="submit" class="btn btn-outline-light" id="detail__button_send_message" name="detail__send_feedback"></button>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>

                <ul class="realty-list-info">
                    <p class="realty_name">{{ realty.get_realty_type_display }} {{ realty.realty_name }}</p>
                    <p class="realty_address">{{ realty.realty_country }}, {{ realty.realty_region }}, {{ realty.realty_address }}</p>
                    <p class="realty_distance"><b>{{ realty.realty_to_city }}</b> км. от {{ realty.realty_region_center }}</p>
                    <p class="realty_area"><b>Площадь: {{ realty.realty_area }} кв.м.</b></p>
                    <p class="realty-bed">Количество спальных мест: <b>{{ realty.count_of_persons }}</b></p>
                    <p class="realty_price">От: {{ realty.realty_price }} РУБ.</p>
                </ul>
                <div class="realty-options-list-container">
                    <p class="options-list-title">Основные удобства:</p>
                    <ul class="realty-options-list">
                        {% for option in realty.options.all|slice:6 %}
                            <li class="option-list"><img class="detail__options_icon" src="../../static/img/icons/{{ option.icon_url }}">{{ option }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="check-the-reservation">
                    <form class="realty-detail-check-reserve-container" method="get" action="?">
                        {% if not 'check-is-reserve-available' in request.GET %}
                            {{ detail_reserve_form.check_in }} - {{ detail_reserve_form.check_out }} <button class="btn btn-light" type="submit" value="{{ realty.id }}, {{ realty.realty_price }}" id="check-detail-button" name="check-is-reserve-available">Проверить</button>
                        {% elif 'check-is-reserve-available' in request.GET %}
                            {{ detail_reserve_form_filled.check_in }} - {{ detail_reserve_form_filled.check_out }} <button class="btn btn-light" type="submit" value="{{ realty.id }}, {{ realty.realty_price }}" id="check-detail-button2" name="check-is-reserve-available">Проверить</button>


                                {% if pk == reservation_set_detail.0.obj_id %}
                                    <div class="realty-detail-booked">
                                        <p class="realty-booked-text">Забронировано</p>
                                        <p class="realty-booked-date-range">с {{ reservation_set_detail.0.obj_check_in }} по {{ reservation_set_detail.0.obj_check_out }}</p>
                                    </div>
                                {% else %}
                                    <p class="reserve-detail-end-form"> Итого: {{ detail_reserve_form_filled.total_sum }} <b style="font-size: 1.2em; color: black;">₽</b></p>
                                {% endif %}

                        {% endif %}
                    </form>

                    {% if pk != reservation_set_detail.0.obj_id %}
                        <form method="get" action="{% url 'app_premises:reservation' %}">
                            <button class="btn btn-light" type="submit" value="{{ realty.id }}, {{ realty.realty_price }}, {{ check_in }}, {{ check_out }}" id="to-reserve-page-id" name="to-reserve-page">Забронировать</button>
                        </form>
                    {% endif %}

                    <script>
                      $(function () {
                        $("#id_check_in").datepicker({
                          format:'dd.mm.yyyy',
                          startDate:'today',
                          autoHide:'True',
                          autoPick:'True',
                          language:'ru-RU',
                        });
                      });
                    </script>

                    <script>
                      $(function () {
                        $("#id_check_out").datepicker({
                          format:'dd.mm.yyyy',
                          startDate:'today',
                          autoHide:'True',
                          language:'ru-RU',
                        });
                      });
                    </script>
                </div>
            </div>
        </aside>
    </ul>
    <div class="realty_detail__adv_main_container">
        <h4 class="realty_detail__h4_adv">Вам может быть интересно</h4>
        <div class="realty_detail__advertising">
            {% if not realty.is_advertised %}
                {% for adv_realty in advertised_realty %}
                    {% if realty.realty_region == adv_realty.realty_region %}
                        <div class="realty_detail__adv_container">
                            <img class="realty_detain__adv_img" src="../media/{{ adv_realty.photos.all.0.photo }}">
                            <a href="{% url 'app_premises:realty_detail' slug=adv_realty.slug %}">{{ adv_realty }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="pop_up4" style="position: fixed; left: 50%; top: 50%;transform: translate(-50%, -50%); display: none; z-index: 100; padding: 5px;">
        <button id="close_pop_up_btn4" class="btn-close" aria-label="Close"></button>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ detail_reserve_form.as_p }}
                <button type="submit">Зобронировать</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно подробного описания -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Описание отеля и местности</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="detail__bottom_container_comment_and_info">
                <div class="detail__description_container">
                    <p>
                        <p style="font-size: 0.9em; text-align: justify;">{{ realty.full_description | safe | linebreaks }}</p>
                    </p>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Модальное окно всех опций -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Все доступные опции</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="detail__bottom_container_comment_and_info">
                <div class="detail__description_container">
                    <p>
                        <h6 style="color: black; text-align: left;">{{ hotel_options.0.0 }}:</h6>
                        <ul>
                            {% for option in hotel_options %}
                                <li>{{ option.1 }}</li>
                            {% endfor %}
                        </ul>
                        <h6 style="color: black; text-align: left;">{{ room_options.0.0 }}:</h6>
                        <ul>
                            {% for option in room_options %}
                                <li>{{ option.1 }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
        })
    </script>

{% endblock content %}
</body>
</html>