{% extends "base.html" %}

{% load static %}

<head>
    <title>{% block title %}Biglov | Официальный сайт | Снять квартиру, забронировать отель, авто{% endblock title %}</title>
</head>
{% block content %}
<body class="index__body">

    <form class="car__search_form_2" action="{% url 'app_premises:realty_list' %}" method="get">
        <div class="auto__main_text_container">
            <h3 class="auto__h3_text">Аренда автомобилей для любой поездки</h3>
        </div>
        <div class="auto__search_form_container">
            <menu class="search-form-input">
                <div class="container2">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-8" id="search-form-input">
                            <div class="search2">
                                <i class="fa fa-search"></i>
                                <input name="q" type="text" class="form-control" id="search-form" placeholder="Место получения авто" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index-search-button-container2">
                    <button name="search" class="btn btn-info" id="base-search-button">Проверить цены</button>
                </div>
            </menu>
            <menu class="search-form2-datepicker">
                <div class="date-picker-index" id="base-search">
                    {{ reserve_form.check_in }} -
                    {{ reserve_form.check_out }}
                </div>

                <script>
                  $(function () {
                    $("#id_check_in").datepicker({
                      format:'dd.mm.yyyy',
                      startDate:'today',
                      autoHide:'True',
                      autoPick:'True',
                      language:'ru-RU',
                    });
                  });
                </script>

                <script>
                  $(function () {
                    $("#id_check_out").datepicker({
                      format:'dd.mm.yyyy',
                      startDate: 'today',
                      autoHide:'True',
                      language:'ru-RU',
                    });
                  });
                </script>
            </menu>
        </div>
    </form>

    <div class="auto__avd_place_container">
        <h3 class="auto__adv_place_h3_text">Популярные прокатные компании</h3>
        <div class="auto__adv_container">

        </div>
    </div>

    <div class="index__adv_long_term">
        <div class="index__adv_main_container">
            <div class="index__adv_text">
                <div>
                    Планируете переезд?
                    <div class="index__adv_text_sub">С нами это сделать гораздо проще! Выбери интересующий вариант и забронируй его на <b style="color: #0f90e4">Biglov.ru</b></div>
                </div>
                <a id="base__menu_buttons1" type="" href="{% url 'app_premises:lt_realty_list' %}" class="btn btn-success">Найти жилье на длительный срок</a>
            </div>
        </div>
        <div class="index__adv_container_for_background">

        </div>
    </div>
</body>
{% endblock %}
{% block footer %}
<footer class="base__footer_not_fixed">
    <div class="base__footer_container">
        <a class="base__logo_footer" href="/"><img class="logo-main_footer" src="../../static/img/logo.png" alt="Логотип"></a>
    </div>
    <div class="base__footer">
        <div class="base__copyright">
            <li class="base_menu__li_container"><a href="{% url 'app_rules:our_values' %}">Наши ценности</a></li>
            <li class="base_menu__li_container"><a href="{% url 'app_rules:rules' %}">Правила сайта</a></li>
            <li class="base_menu__li_container"><a href="{% url 'app_rules:privacy_policy' %}">Политика конфиденциальности</a></li>
            <li class="base_menu__li_container"><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">Контакты</a></li>
        </div>
    </div>

    <!-- Модальное окно управления промо-акциями -->
    <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel5">Контакты</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
              <div>Телефон для справок: +7 (938) 416-66-72</div>
              <div>Эл. почта: biglov.info@yandex.ru</div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
</footer>
{% endblock footer %}
</html>