<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ current_user.first_name }} {{ current_user.last_name }}{% endblock title %}</title>
    <link type="text/css" rel="reset" href="../../static/css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/stylesheet.css">

</head>
<body>
    {% block content %}
<!--    <div style="display: block; height: 50px;"></div>-->
    <div class="user_detail__main_container">
        <div class="user_detail__forms_container">
            <form class="account__form_container" method="post">{% csrf_token %}
                <div class="account__div_container">
                    <h4>Персональные данные</h4>
                    <div class="account__name_container">
                        {{ account_form.status.as_hidden }}
                        {{ account_form.created_at.as_hidden }}
                        {{ account_form.is_active.as_hidden }}
                        {{ account_form.is_company.as_hidden }}
                        {{ account_form.as_staff.as_hidden }}
                        {{ account_form.is_superuser.as_hidden }}
                        {{ account_form.book_count.as_hidden }}
                        {{ account_form.password.as_hidden }}
                        {{ account_form.slug.as_hidden }}
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Ваше имя:</label>
                            {{ account_form.first_name }}
                        </div>
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Ваша фамилия:</label>
                            {{ account_form.last_name }}
                        </div>
                    </div>

                    <div class="account__birth_and_gender_container">
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Дата рождения:</label>
                            {{ account_form.birthday }} {{ account_form.birthday.errors }}
                        </div>
                        <div style="width: 45%;">
                            <label class="user_detail__label_font_size" for="id_gender">Пол:</label>
                            <select class="edit-account-input" name="gender" id="id_gender" aria-label="Пример выбора по умолчанию">
                            {% for gender in account_form.gender %}
                                {{ gender }}
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="account__phone_and_email_container">
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Номер телефона:</label>
                            {{ account_form.phone }}
                        </div>
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Электронная почта:</label>
                            {{ account_form.email }}
                        </div>
                    </div>
                    <div class="account__phone_and_email_container">
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Телеграмм:</label>
                            <span class="input-group-text" id="inputGroupPrepend">@{{ account_form.telegram }}</span>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" name="account__save_form" style="margin-top: 10px;">Сохранить</button>
                </div>
            </form>
            <form class="account__change_slug" method="post" action="{% url 'app_profiler:account_detail' slug=request.user.slug %}">{% csrf_token %}
                <div class="account__div_container">
                    <h4>Задать красивый адрес</h4>
                    <div class="account__slug_container">
                        {{ account_form.status.as_hidden }}
                        {{ account_form.created_at.as_hidden }}
                        {{ account_form.is_active.as_hidden }}
                        {{ account_form.is_company.as_hidden }}
                        {{ account_form.as_staff.as_hidden }}
                        {{ account_form.is_superuser.as_hidden }}
                        {{ account_form.book_count.as_hidden }}
                        {{ account_form.password.as_hidden }}
                        {{ account_form.first_name.as_hidden }}
                        {{ account_form.last_name.as_hidden }}
                        {{ account_form.phone.as_hidden }}
                        {{ account_form.email.as_hidden }}
                        {{ account_form.birthday.as_hidden }}
                        {{ account_form.slug }}
                    </div>
                    <button type="submit" class="btn btn-success" id="account__change_slug" name="account__change_slug">Сохранить</button>
                </div>
            </form>
            <form class="account__change_password" method="post" >{% csrf_token %}
                <div class="account__div_container">
                    <h4>Сменить пароль</h4>
                    <div class="account__name_container">
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Старый пароль:</label>
                            {{ change_password_form.old_password }}
                        </div>
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Новый пароль:</label>
                            {{ change_password_form.new_password1 }}
                        </div>
                        <div class="account__names">
                            <label class="user_detail__label_font_size">Подтвердите пароль:</label>
                            {{ change_password_form.new_password2 }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="account__change_password" name="account__change_password_form">Сохранить</button>
                </div>
            </form>
        </div>
        <div class="user_detail__favorites_container">
            <h4 style="text-align: center;">Избранное</h4>
            <div class="user_detail__favorite_list_container">
                {% if favorite_list %}
                    {% for object in favorite_list %}
                        {% for element in object.camps.all %}
                            <div>

                                <a href="{% url 'app_premises:realty_detail' slug=element.slug %}"><img class="user_detail__favorite_list_img" src="../../media/{{ element.camp_photos.all.0.photo }}">{{ element }}</a>
                            </div>
                        {% endfor %}
                        {% for element in object.flats.all %}
                            <div>
                                <img class="user_detail__favorite_list_img" src="../../media/{{ element.flat_photos.all.0.photo }}">
                                <a href="{% url 'app_premises:lt_realty_detail' pk=element.id %}">{{ element }}</a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>